/* *{
  border: 2px solid red;
} */

body, html {
  height: 100%;
  margin: 0;
}

.hero, .projects, .inspiration, .cta{
  padding: 0 10%;
  margin: 0;

}
header, .hero, footer {
  background-color: #1F2937;
}

header{
  font: 18px #E5E7EB;
  padding: 0 10% 10px 10%;
  height: 15%;

}

.hero {
  display: flex;
  padding: 0 10%;
  height: 38%;
}

.hero .container .container-item{
  width: 50%;
}
.hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin: 0;
}

.hero p {
  font-size: 18px;
  color: #E5E7EB;
}

header img {
  width: 100px;
  margin-left: 0;
}

.projects {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}


body h2 {
  text-align: center;
}

.inspiration {
  background-color: #E5E7EB;
  color: #1F2937;
  
}

.inspiration h2, .inspiration p{
  margin: 0;
}

.cta{
  padding-top: 2%;
}

.cta .container {
  background-color: #3882F6;
  border-radius: 10px;
}

footer {
  color: white;
  height: 5%;
  text-align: center;
}

footer p{
  margin: 0;

}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 18px;
}

li a {
  color: #E5E7EB;
}


.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Adjust margin as needed */
}

.projects .container {
  text-align: center;
  justify-content: center;
}

.project-card {
  background-color: #F9FAF8;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 30%;
  flex: 0 1 calc(25% - 20px); /* Adjust width as needed, considering margins */
  margin: 10px; /* Adjust margin as needed */
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

section.cta{
  display: flex; /* Add this line */
  align-items: center;
  justify-content: center;
}